[submodule "05-cambio-service"]
	path = 05-cambio-service
	url = https://github.com/LucasGooes/05-cambio-service.git
[submodule "06-book-service"]
	path = 06-book-service
	url = https://github.com/LucasGooes/06-book-service.git
[submodule "07-naming-server"]
	path = 07-naming-server
	url = https://github.com/LucasGooes/07-naming-server.git
